.w-40 {
    width: 40%;
}

.tm-1 {
    height: 1vw;
}

.tm-2 {
    height: 2vw;
}

.tm-3 {
    height: 3vw;
}

.tm-4 {
    height: 4vw;
}

.tm-5 {
    height: 5vw;
}

.tm-6 {
    height: 6vw;
}

.bold{
    font-weight: bold;
}