.primary {
    color: #E5695A;
}

.secondary {
    color: #069999 !important;
}

.button-primary {
    background-color: #E5695A;
    color: #fff;
    padding: .8rem 2rem;
}

.button-primary:hover {
    background-color: #fff;
    border: 1px solid #E5695A;
    color: #E5695A;
}

.button-primary:focus {
    border: none !important;
}