@import "src/styles/variable.scss";

.primary {
    color: $default-color-secondary !important;
}

.secondary {
    color: $default-color-primary !important;
}

.button-primary {
    background-color: $default-color-secondary;
    color: #fff;
    border: $default-border solid $default-color-secondary;
    padding: $default-button-padding;
}

.button-primary:hover {
    background-color: #fff;
    border: $default-border solid $default-color-secondary;
    color: $default-color-secondary;
}

.button-primary:focus {
    border: none !important;
}