$default-border: .15vw;
$default-border-radius: 2rem;
$default-color-primary:  #069999;
$default-color-secondary: #E5695A;
$default-text-primary: 10px;
$default-text-secondary: 10px;
$default-button-padding: .8rem 2rem;
$default-font-size: 1.8rem;
